{
    "presets" : [
        [
            "@babel/preset-env", {
                "corejs":"3",
                "useBuiltIns": "usage",
                "targets": {
                    "browsers": [
                        ">=0.5%",
                        "ie >= 11",
                        "not op_mini all"
                    ]
                }
            }
        ]
    ]
}
