/.php_cs.cache
/node_modules
/package-lock.json
/yarn-error.log
/client/dist/styles/*.map
/client/dist/js/*.map
/tests/codeception/codeception.yml
/tests/codeception/.env
/tests/codeception/tests/_output/*
