/.php-cs-fixer.cache
/node_modules
/package-lock.json
/client/dist/js/*.map
/tests/codeception/codeception.yml
/tests/codeception/.env
/tests/codeception/tests/_output/*
/composer.lock
/public/
/vendor/
/app/
/.phpactor.json
/.phpunit.result.cache
/.phpunit.cache
