# copy this file to .env and add your values
WEBSITE_URL = https://localhost
# The form on the page containing the UppyField
DFU_FORM_ID = UploadForm
DFU_UPPY_PATH = /path-to-uppy-test-page/
# time to wait for upload to complete (seconds)
DFU_UPPY_UPLOAD_WAIT = 5
# DB CONNECTION
SS_DATABASE_SERVER="localhost"
SS_DATABASE_USERNAME="username"
SS_DATABASE_PASSWORD="password"
SS_DATABASE_NAME="database_name"
