# copy this file to ./.env (beside this file) and add your values
WEBSITE_URL = https://localhost
# Uppy config
DFU_UPPY_PATH = /path-to-uppy-test-page/
# General config
DFU_FORM_ID = UploadForm
# time to wait for upload to complete (seconds)
DFU_UPLOAD_WAIT = 5
# DB CONNECTION
SS_DATABASE_CLASS="MySQLPDODatabase"
SS_DATABASE_SERVER="127.0.0.1"
SS_DATABASE_USERNAME="username"
SS_DATABASE_PASSWORD="password"
SS_DATABASE_NAME="database_name"
