# copy this file to .env and add your values
WEBSITE_URL = https://localhost
# Uppy config
DFU_UPPY_PATH = /path-to-uppy-test-page/
# FineUploader config
DFU_FINEUPLOADER_PATH = /path-to-fineuploader-file-upload-testing/
# General config
DFU_FORM_ID = UploadForm
# time to wait for upload to complete (seconds)
DFU_UPLOAD_WAIT = 5
# DB CONNECTION
SS_DATABASE_SERVER="localhost"
SS_DATABASE_USERNAME="username"
SS_DATABASE_PASSWORD="password"
SS_DATABASE_NAME="database_name"
